<!DOCTYPE html>
<html lang="<%= config.language%>">
    <%- partial('_partial/head/index') %>
    <body>
        <div id="app" tabindex="-1">
            <%- partial('_partial/source/cover') %>
            <%- body %>
            <%- partial('_partial/source/footer', null, {cache: !config.relative_link}) %>
        </div>
        <%- partial('_partial/scripts/index') %>
    </body>
    <amp-auto-ads type="adsense" data-ad-client="ca-pub-1157022733083083"></amp-auto-ads>
</html>
